{% extends 'base.html' %}
{% block content%}
 <h3>Please fill this form:</h3>
    <form method="POST", action="{{ url_for('form.after_submit') }}">
        {% for field in form %}
            {% if field.id == 'csrf_token'%}
                {{""}}
            {% else %}
                {% if field.type != 'SubmitField' %} 
                    {{ field.label }}
                {% endif %}
                {{ field() }}
                <br>
            {% endif %}
        {% endfor %}   
    </form>
    <br>  
{% endblock content %}

{% block another %}
    <h4>hope this works :)</h4>
{% endblock%}